{% extends "shared/_layout.html" %} 

{% block title %}
<title>{{ title }}</title>
{% endblock %} 

{% block htmlHead %} 
{% endblock %} 

{% block contentBody %}
<div style="background:#ccc; margin-top:20px;padding:50px 0;">
  <div class="container body-content">
    <div class="row" >
      <div class="col-md-8 ">
        &nbsp;
      </div>
      <div class="col-md-4 ">
          <div class="panel panel-default">
              <div class="panel-heading">登录</div>
              <div class="panel-body">
                  <form method="post" action="/admin/account/login">
                      <div class="form-group">
                          <label for="exampleInputEmail1">UserName</label>
                          <input type="text" class="form-control" id="username" name="username" placeholder="username">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" name="password" id="password" placeholder="password">
                      </div>
                      <div class="form-group">
                          <label>
                                  <input type="checkbox" value="true" name="rememberMe" /> 记住我
                              </label>
                      </div>

                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 

{% block htmlScript %} 
<style>

</style>
{% endblock %}