@model Enuo.Dotnet.Web.Models.LoginModel

@{
  ViewData["Title"] = "Login Page";
}

<h2>Login</h2>

<div class="row">
  <div class="col-md-8">
    <section>
      <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="userName" class="control-label"></label>
          <input asp-for="userName" class="form-control" />
          <span asp-validation-for="userName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="password" class="control-label"></label>
          <input type="password" asp-for="password" class="form-control" />
          <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="submit" value="Login" class="btn btn-primary" />
        </div>
      </form>
    </section>
  </div>
</div>