<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">主页</a>
                </li>
                <!-- <li>
                    <a href="/category">分类</a>
                </li> -->
                {% for item in categorys %}
                <li>
                  <a href="/article/{{ item.id }}">{{ item.title }}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="/about">关于</a>
                </li>
            </ul>
            {% if user %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/admin/profile">{{ user.name }}  你好！</a>
                </li>
                <li>
                  <a href="/admin">[管理]</a>
                </li>
                <li>
                    <a href="/admin/account/logout" onClick="return confirm('确定要注销吗?');" >[注销]</a>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="loginLink" href="/admin/account/login">登录</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>