{% extends "shared/_layout.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block htmlHead %}
{% endblock %}

{% block contentBody %}
 <div class="container body-content">
    <h2 class="page-header">
      {{ title }}
    </h2>
   <div class="row">
     <div class="col-md-2">
       {% include "admin/shared/_menu.html" %}
     </div>
     <div class="col-md-10">
       <div class="panel panel-default">
         <div class="panel-heading" style="margin-bottom:20px;">
           个人信息
         </div>
          <form class="form-horizontal" action="/admin/user/saveProfile" target="frame_save" method="post">
            <div class="form-group">
              <label class="col-sm-3 control-label">Name：</label>
              <div class="col-sm-6">
                <input type="text" name="name" class="form-control" value="{{ model.name }}" required placeholder="title">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-8">
                <button type="submit" class="btn btn-primary">保 存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <div style="display: none;">
      <iframe name="frame_save"></iframe>
    </div>
{% endblock %}

{% block htmlScript %}
{% endblock %}