@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading">提示</div>
            <div class="panel-body">
                很抱歉该页面不存在。<br /><br /><br />

                <p><a href="/">返回首页>></a></p>
            </div>
        </div>
    </div>
</body>
</html>
