{% extends "shared/_layout.html" %} {% block title %}
<title>{{ title }}</title>
{% endblock %} {% block htmlHead %} {% endblock %} {% block contentBody %}
<h2 class="page-header">
    Article
    <small>
        <a href="/article/add">Create</a>
    </small>
</h2>
<table>

    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Intro
            </th>
            <th>
                PicUrl
            </th>
            <th>
                CategoryID
            </th>
            <th>
                Content
            </th>
            <th>
                EntTypes
            </th>
            <th>
                EntStatus
            </th>
            <th>
                Creater
            </th>
            <th>
                Updater
            </th>
            <th>
                CreateDate
            </th>
            <th>
                UpdateDate
            </th>
            <th></th>
        </tr>
        {% for item in pageList.items %}
        <tr>
            <td>
                {{item.title}}
            </td>
            <td>
                {{item.intro}}
            </td>
            <td>
                {{item.pic_url}}
            </td>
            <td>
                {{item.category_id}}
            </td>
            <td>
                {{item.content}}
            </td>
            <td>
                {{item.ent_types}}
            </td>
            <td>
                {{item.ent_status}}
            </td>
            <td>
                {{item.creater}}
            </td>
            <td>
                {{item.updater}}
            </td>
            <td>
                {{ moment(item.create_date).format("YYYY-MM-DD") }}
            </td>
            <td>
                {{ moment(item.update_date).format("YYYY-MM-DD") }}
            </td>
            <td>
                <a href="/article/edit/{{item.id}}">Edit</a> |
                <a href="/article/details/{{item.id}}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include "shared/_pager.html" %} {% endblock %} {% block htmlScript %} {% endblock %}