{% extends "shared/_layout.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %} 

{% block htmlHead %} 
{% endblock %} 

{% block contentBody %}

{% set carousel_height = '350'  %}
{% include "shared/_carousel.html" %}

<div class="container body-content">

 <div class="row">
   <div class="col-md-8">
      <h2 class="page-header">
        Home
      </h2>
      <div>
      {% for item in pageList.items %}
        {% include "shared/_article_item.html" %}
      {% endfor %}
      </div>
      {% include "shared/_pager.html" %} 
   </div>
   <div class="col-md-4">
     <h2 class="page-header">
       Category
     </h2>
     <div>
       <ul class="nav nav-pills nav-stacked">
       {% for item in categorys %}
        <li><a href="/article/{{item.id}}">{{ item.title }}</a></li>
       {% endfor %}
      </ul>
     </div>
   </div>
 </div>
</div>
</div>
{% endblock %}

{% block htmlScript %} 
{% endblock %}